@tailwind base;
@tailwind components;
@tailwind utilities;


.min-h-content {
   min-height: calc(100vh - 72px); 
}

.category-hover:hover p{
    background-color: black;
    color: white;
    transition: all .3s;
}



.product:hover .product_title{
    text-decoration: underline;
}

